<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worksb.hi.search.mapper.SearchMapper">
	<select id="getAllPrj" resultType="SearchingVO">
        SELECT 
			p.prj_board_id,
			p.prj_board_title,
			p.prj_board_regdate,
			p.member_id,
            board_type,
			p.project_id, 
			m.member_name,
			m.company_id,
			pj.project_name
		FROM prj_board p
		JOIN(
		    SELECT
		        member_name,
		        member_id,
		        company_id
		    FROM
		        member
            WHERE company_id=#{companyId}
		)m ON m.member_id=p.member_id
			
		JOIN(
		    SELECT
		        project_id,
		        project_name
		    FROM
		        project
		    WHERE
		    	project_access='A1'
		)pj 
		ON pj.project_id=p.project_id
       JOIN(
            SELECT
                prj_board_id
            FROM
                prj_task
            WHERE high_task_id is null
        ) task
        on task.prj_board_id=p.prj_board_id
        AND LOWER(prj_board_title) LIKE '%'||LOWER(#{SearchKeyword})||'%'
	
	</select>
<!-- 	<select id="getAllClub" resultType="SearchingVO"> -->
<!-- 		SELECT -->
<!-- 			board_id, -->
<!-- 			board_title, -->
<!-- 			board_content, -->
<!-- 			board_regdate, -->
<!-- 			board_upddate, -->
<!-- 			member_id, -->
<!-- 			coordinate, -->
<!-- 			board_hit, -->
<!-- 			notice, -->
<!-- 			club_id, -->
<!-- 			board_type -->
<!-- 		FROM -->
<!-- 			club_board -->
<!-- 		WHERE -->
<!-- 			member_id=#{memberId} -->
<!-- 		AND -->
<!-- 			board_title like'%'||#{SearchKeyword}||'%' -->
			
<!-- 	</select> -->
	<select id="getAllNotice" resultType="SearchingVO">
		SELECT
			nb.notice_id,
			nb.notice_title,
			nb.notice_content,
			nb.member_id,
			nb.board_regdate,
			nb.board_upddate,
			nb.board_hit,
			nb.board_type,
			nb.company_id,
			m.member_name
		FROM
			notice_board nb
        JOIN member m on nb.member_id=m.member_id
		WHERE
			nb.company_id=#{companyId}
		AND
			LOWER(nb.notice_title) like'%'||LOWER(#{SearchKeyword})||'%'


	</select>
	<select id="getAllCarpool" resultType="SearchingVO">
		SELECT
			c.board_id,
			c.board_title,
			c.board_content,
			c.member_id,
			c.board_regdate,
			c.board_upddate,
			c.board_hit,
			c.category,
			c.departure,
			c.arrival,
			c.departure_date,
			c.passenger,
			c.board_type,
			c.company_id,
			m.member_name
		FROM carpool_board c
		JOIN member m on c.member_id=m.member_id
		WHERE
			c.company_id=#{companyId}
		AND
			 LOWER(board_title) like'%'|| LOWER(#{SearchKeyword})||'%'
	</select>
	
	
	
	
<!-- 	날짜옵션 추가되는 부분 아래쪽 -->
<select id="getPrj" resultType="SearchingVO">
   		SELECT 
			p.prj_board_id,
			p.prj_board_title,
			p.prj_board_regdate,
			p.member_id,
			find_subcode(p.board_type) board_type,
			p.project_id, 
			m.member_name,
			m.company_id,
			pj.project_name
		FROM prj_board p
		JOIN(
		    SELECT
		        member_name,
		        member_id,
		        company_id
		    FROM
		        member
		)m ON m.member_id=p.member_id
			AND m.company_id=#{companyId}
			
		JOIN(
		    SELECT
		        project_id,
		        project_name
		    FROM
		        project
		)pj ON pj.project_id=p.project_id
		JOIN(
            SELECT
                prj_board_id
            FROM
                prj_task
            WHERE high_task_id is null
        ) task
        on task.prj_board_id=p.prj_board_id
		
		WHERE  LOWER(prj_board_title) LIKE '%'|| LOWER(#{SearchKeyword})||'%'
        AND prj_board_regdate 
        between TO_DATE(#{startDate},'YYYY-MM-DD') AND TO_DATE(#{endDate},'YYYY-MM-DD')
</select>
<!-- <select id="getClub" resultType="SearchingVO"> -->
<!-- 	SELECT -->
<!-- 			board_id, -->
<!-- 			board_title, -->
<!-- 			board_content, -->
<!-- 			board_regdate, -->
<!-- 			board_upddate, -->
<!-- 			member_id, -->
<!-- 			coordinate, -->
<!-- 			board_hit, -->
<!-- 			notice, -->
<!-- 			club_id, -->
<!-- 			board_type -->
<!-- 		FROM -->
<!-- 			club_board -->
<!-- 		WHERE -->
<!-- 			member_id=#{memberId} -->
<!-- 		AND -->
<!-- 			board_title like'%'||#{SearchKeyword}||'%' -->
<!-- 		AND board_regdate  -->
<!--        		between TO_DATE(#{startDate},'YYYY-MM-DD') AND TO_DATE(#{endDate},'YYYY-MM-DD') -->
<!-- </select> -->
<select id="getNotice" resultType="SearchingVO">
	SELECT
			nb.notice_id,
			nb.notice_title,
			nb.notice_content,
			nb.member_id,
			nb.board_regdate,
			nb.board_upddate,
			nb.board_hit,
			nb.board_type,
			nb.company_id,
			m.member_name
		FROM
			notice_board nb
        JOIN member m on nb.member_id=m.member_id
		WHERE
			nb.company_id=#{companyId}
		AND
			LOWER(nb.notice_title) like'%'||LOWER(#{SearchKeyword})||'%'

		AND board_regdate 
       		between TO_DATE(#{startDate},'YYYY-MM-DD') AND TO_DATE(#{endDate},'YYYY-MM-DD')
	
</select>
<select id="getCarpool" resultType="SearchingVO">
		SELECT
			c.board_id,
			c.board_title,
			c.board_content,
			c.member_id,
			c.board_regdate,
			c.board_upddate,
			c.board_hit,
			c.category,
			c.departure,
			c.arrival,
			c.departure_date,
			c.passenger,
			c.board_type,
			c.company_id,
			m.member_name
		FROM carpool_board c
		JOIN member m on c.member_id=m.member_id
		WHERE
			c.company_id=#{companyId}
		AND
			 LOWER(board_title) like'%'|| LOWER(#{SearchKeyword})||'%'
		AND board_regdate 
       		between TO_DATE(#{startDate},'YYYY-MM-DD') AND TO_DATE(#{endDate},'YYYY-MM-DD')
</select>
</mapper>