<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worksb.hi.notice.mapper.NoticeMapper">
<!-- 전체 조회 member추가버전-->
	<!--<select id="getNoticeList" resultType="NoticeVO">
		SELECT n.notice_id,
			   n.notice_title,
			   n.notice_content,
			   n.member_id,
			   n.board_regdate,
			   n.board_upddate,
			   n.coordinate,
			   n.board_hit,
			   n.board_type,
			   n.company_id,
               m.member_name
               
		  FROM notice_board n join member m 
                    on(n.member_id = m.member_id)
         WHERE board_type = 'N'
	  ORDER BY notice_id DESC
	</select> -->
	
	<!-- 전체 조회 test버전-->
	<select id="getNoticeList" resultType="NoticeVO">
		SELECT notice_id,
			   notice_title,
			   notice_content,
			   member_id,
			   board_regdate,
			   board_upddate,
			   coordinate,
			   board_hit,
			   board_type,
			   company_id
               
		  FROM notice_board

         WHERE board_type = 'N'
	  ORDER BY notice_id DESC
	</select>

<!-- 단건 조회 test버전 -->
<!-- 	<select id="getNoticeInfo" resultType="NoticeVO">
		SELECT n.notice_id,
			   n.notice_title,
			   n.notice_content,
			   n.member_id,
			   n.board_regdate,
			   n.board_upddate,
			   n.coordinate,
			   n.board_hit,
			   n.board_type,
			   n.company_id,
               m.member_name
		  FROM notice_board n join member m 
                    on(n.member_id = m.member_id)
		 WHERE notice_id = #{noticeId}
	</select> -->
	
	<!-- 단건 조회 -->
	<select id="getNoticeInfo" resultType="NoticeVO">
		SELECT notice_id,
			   notice_title,
			   notice_content,
			   member_id,
			   board_regdate,
			   board_upddate,
			   coordinate,
			   board_hit,
			   board_type,
			   company_id
		  FROM notice_board
		 WHERE notice_id = #{noticeId}
	</select>

<!-- 등록 -->
	<insert id="insertNotice" parameterType="NoticeVO">
		<selectKey keyProperty="noticeId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(noticeId), 0) + 1
			  FROM notice_board
		</selectKey>
		INSERT INTO notice_board (
								  notice_id
			   					  ,notice_title
			   					  <if test="content != null and !contents.equals('')">
			   					  ,notice_content
			   					  </if>
			   					  ,member_id
			   					  ,board_regdate
			   					  ,board_upddate
			   					  ,coordinate
			   					  ,board_hit
			   					  ,board_type
			   					  ,company_id
			   					  )
			   					  VALUES
			   					  (
			   					   #{noticeId}
			   					  ,#{noticeTitle}
			   				  	  ,#{noticeContent}
			   				 	  ,#{memberId}
			   					  ,#{boardRegdate}
			   					  ,#{boardUpddate}
			   					  ,#{coordinate}
			   					  ,#{boardHit}
			   					  ,#{boardType}
			   					  ,{companyId}
			   					  )
	</insert>

<!-- 수정 -->
	<update id="updateNotice" parameterType="NoticeVO">
		
	</update>
	
<!-- 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		DELETE FROM notice_board
		WHERE notice_id = #{noticeId}
	</delete>
</mapper>