@import "root.css";

body {
	background-color: rgba(174, 213, 245, 0.1);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-blue);
  padding: 10px 40px;
  height: 40px;
  border: 1px solid var(--color-dark-white);
}

.header__logo {
  display: block;
  width: 140px;
}

.header__search {
  width: 350px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid var(--color-dark-white);
  padding: 0 15px;
  padding-left: 50px;
  background-image: url(/img/search-icon.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15px;
  cursor: pointer;
}

.header__icon{
  display: flex;
}

.header__icon a{
  width: 24px;
  height: 24px;
  margin-right: 30px;
}

.header__icon i {
  display: block;
  font-size: 24px;
} 

.header__profile {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 20%;
}

/* side */
.side {
  background-color: var(--color-light-blue);
  height: 100%;
  width: 100%;
  border: 1px solid var(--color-dark-white);
  border-top:none ;
  padding-top: 10px;
  text-align: right;
  position: relative;
}

.side__menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 10px;
}

.side__menu__cate {
  margin: 0;
  background-color: rgb(174, 213, 245, 0.15);
  font-size: var(--font-small);
  color: var(--color-dark-grey);
  padding-right: 30px;
}

.side__menu__items {
  font-size: var(--font-small);
  color: var(--color-dark-grey);
}

.side__menu__item {
  font-size: var(--font-micro);
  margin-top: 5px;
  font-weight: var(--weight-regular);
  display: block;
  padding-right: 30px;
}

.side__menu__item:hover {
  background-color: rgba(174, 213, 245, 0.15);
  color: black;
}

.side__menu__bottom {
  background-color: rgba(174, 213, 245, 0.15);
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}