@import "root.css";

body {
	line-height: inherit !important;
}

*, ::after, ::before {
    box-sizing: content-box !important;
}

button, input, optgroup, select, textarea {
    
}

dl, ol, ul {
	margin: 0 !important;
	padding: 0 !important;
}

body {
	font-family: 'Noto Sans KR', sans-serif !important;
}
/* header */
.company-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-beigie);
  padding: 10px 40px;
  height: 40px;
  border: 1px solid var(--color-dark-beigie);
}

.header__logo {
  display: block;
  width : 100px;
  height: 25px; 
}

.header__search {
  height: 30px;
  border-radius: 15px;
  border: 1px solid var(--color-dark-beigie);
  padding: 0 15px;
  padding-left: 50px;
  background-image: url(../icon/search-icon.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15px;
  cursor: pointer;
  font-family: sans-serif !important;
  font-size: var(--font-micro) !important;
}

.header__icon{
  display: flex;
}

.header__icon a{
  width: 24px;
  height: 24px;
  margin-right: 30px;
}

.header__icon i {
  display: block;
  font-size: 24px;
} 

.header__profile {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 20%;
}

/* modal */
#profile-modal, #my-profile-modal, #alarm-modal, #employees-modal, #status-modal, #employee-modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	font-size: 12px;
	display: none;
	left: 0;
	top: 0;
	z-index: 2;
}

.profile-modal__content {
	position: absolute;
	width: 6%;
	height: 17%;
	right: 4%;
	top: 4%;
	background-color: white;
	border: 1px solid var(--color-dark-beigie);
	border-radius: 10px;
	padding: 5px 15px;
	z-index: 10;
}

.modal-logo {
	width: 25%;
	margin-right: 20px;
	border-radius: 10px;
}

.profile-modal__title{
	display: flex;
	height: 50px;
	align-items: center;
	margin-bottom: 10px;
}
#profile-modal p {
	padding: 7px 0;
	margin: 0;
}

#profile-modal p:hover {
	background-color: var(--color-beigie);
}

#profile-modal p a:hover {
	color: black;
}

.my-profile-modal__content, .employee__content {
	position: absolute;
	background-color: white;
	width: 17%;
	height: 60%;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	border-radius: 5px;
	text-align: center;
	padding: 30px 0 15px 0;
	z-index: 10;
}

.employee__content {
	height: 50%;
	
}

.my-profile-logo {
	width: 85%;
	height: 270px;
	max-height: 20%;
	border-radius: 5px;
}

.status {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 37px;
	right: 68px;
	z-index: 1;
}

.status-modal__content {
	width: 100px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	top: 100px;
	right: 240px;
	background-color: white;
	border: 1px solid var(--color-dark-beigie);
	border-radius: 10px;
	padding: 10px 5px;
	z-index: 10;
}

.status-modal__content li {
	cursor: pointer;
	padding: 5px 0;
}

.status-modal__content li:hover {
	background-color: var(--color-beigie);
}

.status-modal__content li span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
}

.status-green {
	background-color: #00cc66;
}

.status-yellow {
	background-color: #ff6b35;
}

.status-red {
	background-color: #dd1c1a;
}

.my-profile-modal__name, .employee-modal__name {
	margin-bottom: 20px;
}

.my-profile-item {
	display: flex;
	padding: 3% 6%;
	justify-content: space-between;
}

.item-icon {
	width: 5%;
	display: inline-block;
}

.my-profile__btn, .chat__btn {
	margin-top:30px;
	background-color: var(--color-dark-red);
	width: 80%;
	height: 50px;
	text-align: center;
	color: white;
	font-weight: var(--weight-bold);
	font-size: var(--font-regular);
	border-radius: 5px;
}

.employees-modal__content {
	position: absolute;
	right: 0;
	top: 62px;
	height: 100%;
	width: 20%;
	background-color: white;
	font-size: 12px;
	padding: 20px 15px;
	z-index: 10;
	overflow: auto;
	overflow-x: hidden; 
}

.employees-modal__content::-webkit-scrollbar {
    width: 10px;
 }
 
.employees-modal__content::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
  background-color: var(--color-dark-beigie);
}

.employees-modal__content::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
  background-color: var(--color-dark-beigie);
}


.alarm__title, .employees__title {
	font-size: 15px;
	justify-content: space-between;
	font-weight: var(--weight-bold);
}

.cursor {
	cursor: pointer;
}

.alarm_search-input, .employees_search-input {
	display: block;
	width: 83%;
	height: 30px;
	border: 1px solid var(--color-dark-beigie);
	border-radius: 5px;
	background-image: url(../icon/search-icon.png);
	background-repeat: no-repeat;
	background-size: 20px;
  	background-position: 15px;
  	padding: 0 15px;
  	padding-left: 50px;
}	

.alarm__subtitle {
	align-items: center;
	justify-content: space-between;
}

.alarm__subtitle__item {
	padding: 10px 5px;
}

.alarm-category {
	justify-content: center;
}

.category-list {
	display: inline-block;
	padding: 10px;
}

.employee {
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-dark-beigie);
	padding: 0 20px 0 5px;
	cursor: pointer;
	height: 45px;
}

.employee:nth-child(1) {
	border-top: 1px solid var(--color-dark-beigie);
}

.employee-img {
	width: 40px;
	height: 40px;
}

.employees_search-input {
	margin: 10px 0;
}
.modal-visible {
	display: block !important;
	z-index: 1;
}

.flex {
	display: flex;
}

/* side */
.side {
  background-color: var(--color-beigie);
  height: 100%;
  width: 100%;
  border: 1px solid var(--color-dark-beigie);
  border-top:none ;
  padding-top: 10px;
  text-align: left;
  position: relative;
}

.side__menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 10px;
}

.side__menu__cate {
  margin: 0;
  font-weight: var(--weight-bold);
  font-size: var(--font-small);
  color: var(--color-dark-grey);
  border-bottom: 1px solid var(--color-dark-beigie);
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center
  
}

.side__menu__cate img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.side__menu__items {
  font-size: var(--font-small);
  /* color: var(--color-dark-grey); */
  color: var(--color-black);
}

.side__menu__item {
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  display: block;
  padding: 5px 0 5px 50px;
}

.side__menu__item:hover {
  background-color: var(--color-dark-red);
  color: white !important;
}

.side__menu__item a:hover {
  color: white !important;
}

.side__menu__bottom {
  background-color: rgb(253, 252, 220);
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.employee .state {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	bottom: 0;
	right: 0;
	z-index: 2;
}