@import "root.css";

body {
	background-color: rgba(174, 213, 245, 0.1);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-blue);
  padding: 10px 40px;
  height: 40px;
  border: 1px solid var(--color-dark-white);
}

.header__logo {
  display: block;
  width : 100px;
  height: 25px; 
}

.header__search {
  height: 30px;
  border-radius: 15px;
  border: 1px solid var(--color-dark-white);
  padding: 0 15px;
  padding-left: 50px;
  background-image: url(../icon/search-icon.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15px;
  cursor: pointer;
}

.header__icon{
  display: flex;
}

.header__icon a{
  width: 24px;
  height: 24px;
  margin-right: 30px;
}

.header__icon i {
  display: block;
  font-size: 24px;
} 

.header__profile {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 20%;
}

/* modal */
#profile-modal, #my-profile-modal, #alarm-modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	font-size: 12px;
	display: none;
	left: 0;
	top: 0;
}

.profile-modal__content {
	position: absolute;
	width: 6%;
	height: 17%;
	right: 4%;
	top: 4%;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 15px;
}

.modal-logo {
	width: 25%;
	margin-right: 20px;
	border-radius: 10px;
}

.profile-modal__title {
	display: flex;
	height: 50px;
	align-items: center;
	margin-bottom: 10px;
}
#profile-modal p {
	padding: 5px 0;
	margin: 5px 0;
}

#profile-modal p:hover {
	background-color: var(--color-light-blue);
}

.my-profile-modal__content {
	position: absolute;
	background-color: white;
	width: 17%;
	height: 60%;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	text-align: center;
	padding: 30px 0 15px 0;
}

.my-profile-logo {
	width: 85%;
	height: 270px;
	max-height: 20%;
	border-radius: 5px;
}

.my-profile-modal__name {
	margin-bottom: 20px;
}

.my-profile-item {
	display: flex;
	padding: 3% 6%;
	justify-content: space-between;
}

.item-icon {
	width: 5%;
	display: inline-block;
}

.my-profile__btn {
	margin-top:30px;
	background-color: rgb(174, 213, 245);
	width: 80%;
	height: 50px;
	text-align: center;
	color: white;
	font-weight: var(--weight-bold);
	font-size: var(--font-regular);
	border-radius: 5px;
}

.alarm-modal__content {
	position: absolute;
	right: 0;
	top: 62px;
	height: 100%;
	width: 20%;
	background-color: white;
	font-size: 12px;
	padding: 20px 15px;
	border: 1px solid var(--color-dark-white);
}

.alarm__title {
	font-size: 15px;
	justify-content: space-between;
	font-weight: var(--weight-bold);
}

.cursor {
	cursor: pointer;
}

.alarm_search-input {
	display: block;
	width: 83%;
	height: 30px;
	border: 1px solid var(--color-dark-white);
	border-radius: 5px;
	background-image: url(../icon/search-icon.png);
	background-repeat: no-repeat;
	background-size: 20px;
  	background-position: 15px;
  	padding: 0 15px;
  	padding-left: 50px;
}	

.alarm__subtitle {
	align-items: center;
	justify-content: space-between;
}

.alarm__subtitle__item {
	padding: 10px 5px;
}

.alarm-category {
	justify-content: center;
}

.category-list {
	display: inline-block;
	padding: 10px;
}

.modal-visible {
	display: block !important;
}

.flex {
	display: flex;
}

/* side */
.side {
  background-color: var(--color-light-blue);
  height: 100%;
  width: 100%;
  border: 1px solid var(--color-dark-white);
  border-top:none ;
  padding-top: 10px;
  text-align: right;
  position: relative;
}

.side__menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 10px;
}

.side__menu__cate {
  margin: 0;
  background-color: rgb(174, 213, 245, 0.15);
  font-size: var(--font-small);
  color: var(--color-dark-grey);
  padding-right: 30px;
}

.side__menu__items {
  font-size: var(--font-small);
  color: var(--color-dark-grey);
}

.side__menu__item {
  font-size: var(--font-micro);
  margin-top: 5px;
  font-weight: var(--weight-regular);
  display: block;
  padding-right: 30px;
}

.side__menu__item:hover {
  background-color: rgba(174, 213, 245, 0.15);
  color: black;
}

.side__menu__bottom {
  background-color: rgba(174, 213, 245, 0.15);
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}