@import "root.css";

.form-box {
	width: 28%;
	text-align: left;
	margin: 100px auto;
	height: 600px;
}

.form-box__title {
	font-size: var(--font-regular);
	text-align: center;
}

.form-box__sub {
	font-size: var(--font-micro);
	margin-bottom: 50px;
	text-align: center;
}

.form__input-box {
	
}

.red {
	color: var(--color-red);
}

.form span{
	font-size: var(--font-micro);
}

.companyUrl {
	font-size: var(--font-small);
	margin: 5px 0;
}

.form-box label {
	text-align: left;
}

#companyUrl {
	width: 70%;
	height: 50px;
	border: 1px solid var(--color-light-white);
	border-radius: 5px;
	margin: 15px 10px;
}

.form__btn {
	width: 50%;
	height: 50px;
	background-color: var(--color-dark-beigie);
	border-radius: 5px;
	color: var(--color-dark-grey);
	font-weight: var(--weight-bold);
	font-size: var(--font-small);
	transition: all 0.5s;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.form__btn:hover {
	background-color: var(--color-dark-red);
	color: var(--color-white);
}

.link {
	text-decoration: underline;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: var(--color-dark-grey) !important;
}