@import "root.css";
/*
.project__header {
    margin: 0 auto;
    width: 100%;
    background-color: aliceblue;
}

.project__nav {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.project__nav a {
    text-decoration: none;
    outline: none;
    font-weight: var(--weight-bold);
    color: var(--color-light-grey);
    font-size: 16px;
}

.project__nav li {
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.project__nav a:hover {
    color: #303030;
}

.project__menu {
    width: 800px;
    margin-bottom: 15px;
    margin-left: 80px;
}

.fa-regular {
    margin-right: 10px;
}


span{
	font-size: 25px;
	margin-left: 20px;
}

.modal{
    position:absolute;
    display:none;
    justify-content: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.modal_body{
    position:absolute;
    top:20%;
    left:15%;
    width: 180px;
    height: 190px; 
    background-color: rgb(255,255,255);
    border-radius:10px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
    transform:translateY(-50%);
}

.modal li{
    font-size: 16px;
    color: var(--color-dark-grey);
    margin: 15px;
    padding: 2px;
}

.modal li:hover{
    background-color: var(--color-light-blue);
    color: #303030;
}
*/

