.prj-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	margin: 30px 0;
}

.prj-title h1 {
	margin: 0;
	color: var(--color-dark-grey);
	font-size: var(--font-regular);
}

.icons {
	display: flex;
	align-items: center;
	padding-right: 100px;
}

.icons a {
	height: 35px;
}

.icon {
	width : 20px;
	height : 20px;
	margin-left: 30px;
	margin: 0 10px;
	display: inline-block;
	cursor: pointer;
}

.list-box {
	width: 70%;
	margin: 20px auto;	
	font-size: 18px; 
	font-weight: var(--weight-semi-bold);
}

.list-title {
	font-size: var(--font-small); 
	font-weight: var(--weight-bold);
}

.list {
	position:relative;
	padding: 10px 40px;
	margin: 5px 0;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(253, 252, 220, 0.2);
}

.list:hover .unread-project {
	opacity: 1;
	top: -5px;
	transition: all 0.5s;
}

.project-name {
	margin-right: 50px;
	height: 30px;
	line-height: 30px;
	display: flex;
	align-items: center;
}

.project-name span {
	cursor: pointer;
}

.project-info {
	display: flex;
	align-items: center;
	margin-right: 80px;
}

.unread-project {
	position: absolute;
	border-radius: 50px;
	background-color: var(--color-dark-red);
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: white;
	top: -20px;
	left: 15px;
	font-size: var(--font-micro);
	opacity: 0;
}