@import "root.css";

.project__header {
    margin: 0 auto;
    width: 100%;
    background-color: aliceblue;
}

.project__nav {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.project__nav a {
    text-decoration: none;
    outline: none;
    font-weight: var(--weight-bold);
    color: var(--color-light-grey);
    font-size: 16px;
}

.project__nav li {
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.project__nav a:hover {
    color: #303030;
}

.project__menu {
    width: 800px;
    margin-bottom: 15px;
    margin-left: 80px;
}

.fa-regular {
    margin-right: 10px;
}

.project__setting {
    width: 180px;
    height: 190px;
    position: absolute;
    display: none;
    margin-right: 300px;
    border: 1px solid var(--color-light-grey);
    border-radius: var(--size-border-radius);
    background-color: white;
    font-size: 13px;
    z-index: 1;
}

.project__setting li{
    font-size: 16px;
    color: var(--color-dark-grey);
    margin: 15px;
    padding: 2px;
}

.project__setting li:hover{
    background-color: var(--color-light-blue);
    color: #303030;
}

span{
	font-size: 25px;
	margin-left: 20px;
}

