@import "root.css";

.form__title {
    font-size: var(--font-regular);
    text-align: center;
    color: var(--color-dark-grey);
    font-weight: var(--weight-bold);
    margin-bottom: 20px;
}

.project-create-form {
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: var(--size-border-radius);
    background-color: #ffffff;
}

.form__divide {
    border-bottom: 1px solid var(--color-light-grey);
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.form__divide div {
    margin-bottom: 10px;
}

.form__divide label {
    margin-right: 10px;
    font-weight: var(--weight-bold);
    color: var(--color-dark-grey);
    font-size: 16px;
}

.form__input-title {
    padding: 10px;
    border-radius: var(--size-border-radius);
    border: 1px solid var(--color-dark-white);
    width: 770px;
    font-size: var(--font-small);
    margin-bottom: 15px;
}

.form__category-title {
    font-size: 16px;
    color: var(--color-dark-grey);
    font-weight: var(--weight-bold);
}

.permission__title {
    font-size: 16px;
    color: var(--color-dark-grey);
    font-weight: var(--weight-bold);
    margin-bottom: 5px;
}

.permission li {
    margin-bottom: 10px;
}

.permission label {
    margin-right: 10px;
    font-weight: var(--weight-semi-bold);
    color: var(--color-grey);
    font-size: 16px;
}

.form__button{
    text-align: center;
}

button {
    width: 400px;
    background-color: var(--color-light-white);
    color: var(--color-grey);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 15px;
}

button:hover {
    background-color: #c0e6f5;
    color: #ffffff;
}

.form__select {
    height: 40px;
    width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--size-border-radius);
}