@import "root.css";

.flex-box {
	display: flex !important;
	align-items: center;
	margin-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: var(--color-dark-grey) !important;
}

.register-form-box {
	text-align: center;
	margin: 100px;
	height: 600px;
}

.register-form-box__title {
	font-size: var(--font-regular);
}

.register-form {
	width: 30%;
	margin: 0 auto;
}

.register-form label{
	display:inline-block;
	text-align: left;
	width: 100%;
	font-size: var(--font-micro);
}

.register-form input {
	border: 1px solid var(--color-light-white);
	height: 40px;
	width: 99%;
	display: block;
	margin: 5px 0 20px 0;
	border-radius: 5px;
	padding-left: 1%;
}

.register-form input:focus {
	outline: 1px solid var(--color-dark-grey);
}

.member-id-box {
	display: flex;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 20px;
}

#memberId {
	width: 75%;
	display: inline-block;
	margin: 0;
}

.check-id {
	width: 21% !important;	
	margin:0;
	height: 40px !important;
	margin-left: 4%;
	font-size: var(--font-small) !important;
}

.register-form__btns{
	display: flex;
	justify-content: space-around;
}

.register-form button {
	background-color: rgb(174, 213, 245);
	height: 50px;
	width: 40%;
	border-radius: 5px;
	color: white;
	font-weight: var(--weight-bold);
	font-size: var(--font-regular);
}

#consent {
	display: inline-block;
	width: 15px;
	height: 15px;
	cursor: pointer;
	transition: background 0.2s;
	line-height: 20px;
	margin: 0 10px 0 0;
	outline: none;
}