<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worksb.hi.carpool.mapper.CarpoolMapper">
<!-- 페이징 -->
	<!-- 게시판 총 갯수 -->
	<select id="getCarpoolCount" resultType="int">
		SELECT count(*)
		FROM carpool_board
		<if test="searchkeyword != null and searchkeyword !=''">
			<choose>
				<when test="searchtype == 1 ">
					and board_title like '%' || #{searchkeyword } || '%'
				</when>
				<when test="searchtype == 2 ">
					and board_content like '%' || #{searchkeyword } || '%'
				</when>
				<when test="searchtype == 3 ">
					and member_name like  '%${searchkeyword }%'
				</when>
				<when test="searchtype == 4 ">
					and( board_title like '%${searchkeyword }%' or board_content like '%${searchkeyword }%')
				</when>
			</choose>
		</if> 
	</select>
	
	<!-- 게시글 전체 조회 -->
	<select id="selectCarpoolAll" resultType="BoardCmtVO">
		select *
		from (  select rownum rn, a.*
        		from (select *
              		  from carpool_board n JOIN member m
              		  on n.member_id = m.member_id
              		  where board_type = 'C2'  
					<if test="searchVO.searchkeyword != null and searchVO.searchkeyword !=''">
					<choose>
					<when test="searchVO.searchtype == 1 ">
						and board_title like '%' || #{searchVO.searchkeyword } || '%'
					</when>
					<when test="searchVO.searchtype == 2 ">
						and board_content like '%' || #{searchVO.searchkeyword } || '%'
					</when>
					<when test="searchVO.searchtype == 3 ">
						and member_name like  '%${searchVO.searchkeyword }%'
					</when>
					<when test="searchVO.searchtype == 4 ">
						and( board_title like '%${searchVO.searchkeyword }%' or board_content like '%${searchVO.searchkeyword }%')
					</when>
					</choose>
					</if>               		  
              	      order by board_id desc ) a )
		where rn between #{pagingVO.start} and #{pagingVO.end}
	</select>
	
</mapper>