<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worksb.hi.carpool.mapper.CarpoolMapper">
<!-- 페이징 -->
	<!-- 게시판 총 갯수 -->
	<select id="getCarpoolCount" resultType="int">
		SELECT count(*)
		FROM carpool_board
	   WHERE company_id = #{companyId}
		<if test="searchkeyword != null and searchkeyword !=''">
			<choose>
				<when test="searchtype == 1 ">
					AND board_title like '%' || #{searchkeyword } || '%'
				</when>
				<when test="searchtype == 2 ">
					AND board_content like '%' || #{searchkeyword } || '%'
				</when>
				<when test="searchtype == 3 ">
					AND member_name like  '%${searchkeyword }%'
				</when>
				<when test="searchtype == 4 ">
					AND ( board_title like '%${searchkeyword }%' or board_content like '%${searchkeyword }%')
				</when>
			</choose>
		</if> 
	</select>
	
	<!-- 게시글 전체 조회 -->
	<select id="selectCarpoolAll" resultType="carpoolVO">
		select *
		from (  select rownum rn, a.*
        		from (select *
              		  from carpool_board n JOIN member m
              		  on (n.member_id = m.member_id)
              		  WHERE n.company_id = #{searchVO.companyId}
					<if test="searchVO.searchkeyword != null and searchVO.searchkeyword !=''">
					<choose>
					<when test="searchVO.searchtype == 1 ">
						AND board_title like '%' || #{searchVO.searchkeyword } || '%'
					</when>
					<when test="searchVO.searchtype == 2 ">
						AND board_content like '%' || #{searchVO.searchkeyword } || '%'
					</when>
					<when test="searchVO.searchtype == 3 ">
						AND member_name like  '%${searchVO.searchkeyword }%'
					</when>
					<when test="searchVO.searchtype == 4 ">
						AND ( board_title like '%${searchVO.searchkeyword }%' or board_content like '%${searchVO.searchkeyword }%')
					</when>
					</choose>
					</if>               		  
              	      order by board_id desc ) a )
		where rn between #{pagingVO.start} and #{pagingVO.end}
	</select>
	
	<!-- 단건 조회 -->
	<select id="getCarpoolInfo" resultType="CarpoolVO">
		SELECT c.BOARD_ID,
			   c.BOARD_TITLE,
			   c.BOARD_CONTENT,
			   c.MEMBER_ID,
			   c.BOARD_REGDATE,
			   c.BOARD_UPDDATE,
			   c.BOARD_HIT,
			   c.CATEGORY,
			   c.DEPARTURE,
			   c.ARRIVAL,
			   c.DEPARTURE_DATE,
			   c.PASSENGER,
			   c.COORDINATE,
			   c.BOARD_TYPE,
			   c.COMPANY_ID,
			   m.member_name
	  	  FROM carpool_board c join member m
	  	  	ON (c.member_id = m.member_id)
	  	 WHERE board_id = #{boardId}
	</select>
	
	<!-- 게시물 등록 -->
	<insert id="carpoolInsert" parameterType="CarpoolVO">
		<selectKey keyProperty="boardId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(board_id), 0) + 1
			  FROM carpool_board
		</selectKey>
		INSERT INTO carpool_board(
								  BOARD_ID
								  ,BOARD_TITLE
								  ,BOARD_CONTENT
								  ,MEMBER_ID
								  ,BOARD_REGDATE
								  ,BOARD_HIT
								  ,CATEGORY
								  ,DEPARTURE
								  ,ARRIVAL
								  ,DEPARTURE_DATE
								  ,PASSENGER
								  ,COORDINATE
								  ,BOARD_TYPE
								  ,COMPANY_ID
								  )
								  values
								  (
								  #{boardId}
								  ,#{boardTitle}
								  ,#{boardContent}
								  ,#{memberId}
								  ,current_date
								  ,0
								  ,#{category}
								  ,#{departure}
								  ,#{arrival}
								  ,#{departureDate}
								  ,#{passenger}
								  ,#{coordinate}
								  ,'C3'
								  ,#{companyId}
								  )
	</insert>
	<update id="carpoolUpdate" parameterType="CarpoolVO">
			update carpool_board
			<set>
				<if test="boardTitle !=null and !boardTitle.equals('')">
				board_title = #{boardTitle},
				</if>
				<if test="boardContent !=null and !boardContent.equals('')">
				board_content = #{boardContent},

				</if>
				board_upddate = current_date, 
				<if test="category !=null and !category.equals('')">
				category = #{category},
				</if>
				<if test="departure !=null and !departure.equals('')">
				departure = #{departure}, <!-- 출발지 -->
				</if>
				<if test="arrival !=null and !arrival.equals('')">
				arrival = #{arrival}, 	 <!-- 도착지 -->
				</if>
				<if test="departureDate !=null and !departureDate.equals('')">
				departure_date = #{departureDate}, 
				</if>
				<if test="coordinate !=null and !coordinate.equals('')">
          
				coordinate = #{coordinate}
				</if>
			</set>
		where board_id = #{boardId}
	</update>
	
	<!-- 삭제 -->
	<delete id="carpoolDelete" parameterType="int">
		DELETE FROM carpool_board
		WHERE board_id = #{carpoolId}
	</delete>
	
	<select id="getPCount" resultType="int">
		SELECT COUNT(member_id) 
		FROM car_vote_particir 
		where board_id=#{boardId}
	</select>
	
<!-- 	SELECT carpool_seq.NEXTVAL FROM dual -->
				
	
	<insert id="applyCarpool" parameterType="CarpoolVO">
		<selectKey keyProperty="car_vote_particir_id" resultType="int" order="BEFORE">
			SELECT NVL(MAX(car_vote_particir_id), 0) +1
			FROM car_vote_particir
		</selectKey>
		INSERT INTO car_vote_particir
						(
						car_vote_particir_id,
						member_id,
						board_id
						)
			VALUES(
						#{car_vote_particir_id},
						#{memberId},
						#{boardId}
				)
	</insert>
	
	<select id="getApplicantName" resultType="String">
		SELECT member_name 
		FROM member
		WHERE member_id=#{memberId}
	</select>
	
	<select id="getApplicantList" resultType="CarpoolVO">
		SELECT 						
			c.car_vote_particir_id,
			c.member_id,
			c.board_id,
            m.member_name,
            m.real_profile_path
		FROM car_vote_particir c
        JOIN member m on(m.member_id=c.member_id)
		WHERE board_id=#{boardId}
	</select>
	
	<delete id="cancelCarpool" parameterType="int">
		DELETE car_vote_particir
		WHERE board_id=#{boardId}
	</delete>
	
	<!-- 조회수 올리기 -->   
	<update id="carpoolHit" parameterType="int">
		update carpool_board 
		   set board_hit = board_hit + 1 
		 where board_id = #{boardId}
	</update>
</mapper>