<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worksb.hi.board.mapper.BoardMapper">
	<!-- 이진 -->
	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="BoardVO">
		<selectKey keyProperty="prjBoardId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(prj_board_id), 0) + 1
			FROM prj_board
		</selectKey>
		INSERT INTO prj_board
						(
							prj_board_id
							, prj_board_title
							<if test="prjBoardSubject !=null and !prjBoardSubject.equals('')">
							, prj_board_subject
							</if>
							, prj_board_regdate
							, member_id
							<if test="inspYn !=null and !inspYn.equals('')">
							, insp_yn
							</if>
							, board_type
							, project_id
							<if test="coordinate !=null">
							, coordinate
							</if>
						)
					VALUES
						(
							#{prjBoardId}
							, #{prjBoardTitle}
							<if test="prjBoardSubject !=null and !prjBoardSubject.equals('')">
							, #{prjBoardSubject}
							</if>
							, sysdate
							, #{memberId}
							<if test="inspYn !=null and !inspYn.equals('')">
							, #{inspYn}
							</if>
							, #{boardType}
							, #{projectId}
							<if test="coordinate !=null">
							, #{coordinate}
							</if>		
						)
	</insert>
	
	<!-- 업무 등록 -->
	<insert id="insertTask" parameterType="taskVO">
		<selectKey keyProperty="taskId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(task_id), 0) + 1
			FROM prj_task
		</selectKey>
		INSERT INTO prj_task
					(
						high_task_id
						<if test="startDate !=null">
						, start_date
						</if>
						<if test="endDate !=null">
						, end_date
						</if>
						<if test="priority !=null and !priority.equals('')">
						, priority
						</if>
						, state
						<if test="processivity !=null and !processivity.equals('')">
						, processivity
						</if>
						, prj_board_id
						, task_id
						, company_id
					)
					VALUES
					(
						#{highTaskId}
						<if test="startDate !=null">
						, #{startDate}
						</if>
						<if test="endDate !=null">
						, #{endDate}
						</if>
						<if test="priority !=null and !priority.equals('')">
						, #{priority}
						</if>
						, #{state}
						<if test="processivity !=null and !processivity.equals('')">
						, #{processivity}
						</if>
						, #{prjBoardId}
						, #{taskId}
						, #{companyId}
					)
	</insert>
	
	<!-- 투표 등록 -->
	<insert id="insertVote" parameterType="VoteVO">
		INSERT INTO prj_vote
						(
							prj_board_id
							, end_date
							, anony_vote
							, compno_vote
							, result_yn
						)
					VALUES
						(
							#{prjBoardId}
							, #{endDate}
							, #{anonyVote}
							, #{compnoVote}
							, #{resultYn}	
						)
	</insert>
	
	<!-- 투표 항목 등록 -->	
	<insert id="insertVoteList" parameterType="VoteVO">
		<selectKey keyProperty="listId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(list_id), 0) + 1
			FROM vote_list
		</selectKey>
			INSERT INTO vote_list
							(
								prj_board_id
								, list_id
								, list_content
							)
						VALUES
							(
								#{prjBoardId}
								, #{listId}
								, #{listContent}
							)
	</insert>
	
	<!-- 일정 등록 -->
	<insert id="insertSche" parameterType="ScheVO">
		INSERT INTO prj_sche
							(
								start_date
								, end_date
								, prj_board_id
								<if test="alarmDate !=null">
									, alarm_date
								</if>
								<if test="scheAddr !=null and !scheAddr.equals('')">
									, sche_addr
								</if>
								<if test="scheAddrDetail !=null and !scheAddrDetail.equals('')">
									, sche_addr_detail
								</if>
								<if test="alarmDateCode !=null and !alarmDateCode.equals('')">
									, alarm_date_code
								</if>
							)
						VALUES
							(
								#{startDate}
								, #{endDate}
								, #{prjBoardId}
								<if test="alarmDate !=null">
									, #{alarmDate}
								</if>
								<if test="scheAddr !=null and !scheAddr.equals('')">
									, #{scheAddr}
								</if>	
								<if test="scheAddrDetail !=null and !scheAddrDetail.equals('')">
									, #{scheAddrDetail}
								</if>
								<if test="alarmDateCode !=null and !alarmDateCode.equals('')">
									, #{alarmDateCode}
								</if>	
							)
	</insert>
	
	
	
	<!-- 일정 조회 -->
	<select id="getScheInfo" resultType="ScheVO">
		SELECT	start_date,
				end_date,
				prj_board_id,
				alarm_date,
				alarm_date_code,
				find_subcode(alarm_date_code) AS alarm_date_code_literal,
				sche_addr,
				sche_addr_detail
		FROM	prj_sche 
		WHERE	prj_board_id = #{prjBoardId}
	</select>
	
	<!-- 투표 조회 -->
	<select id="getVoteInfo" resultType="VoteVO">
		SELECT	end_date,
				anony_vote,
				compno_vote,
				result_yn
		FROM	prj_vote
		WHERE	prj_board_id = #{prjBoardId}
	</select>
	
	<!-- 투표 항목 조회 -->
	<select id="getVoteList" resultType="VoteVO">
		SELECT	list_id,
				list_content
		FROM	vote_list
		WHERE	prj_board_id = #{prjBoardId}
		ORDER BY	list_id
	</select>
	
	<!-- 업무 조회 -->
	<select id="getTaskInfo" parameterType="int" resultType="allTaskBoardVO">
		SELECT	p.prj_board_id,        
				p.prj_board_title,     
				p.prj_board_subject,  
				p.prj_board_regdate,            
				p.member_id,            
				p.insp_yn,              
				p.pin_yn,                
				p.board_type,           
				p.project_id,                 
				p.coordinate,
                t.high_task_id,
				t.start_date,
				t.end_date,
				t.priority,
				find_subcode(t.priority) AS priorityName,
				t.state,
				find_subcode(t.state) AS stateName,
				t.processivity,
				t.task_id,
                m.member_name,
                m.real_profile_path      
		 FROM 	prj_board p 
				JOIN prj_task t	ON	p.prj_board_id = t.prj_board_id
    			JOIN member m	ON	p.member_id = m.member_id
		WHERE	t.prj_board_id = #{prjBoardId}
	</select>
	
	<!-- 상위 업무의 taskId 조회 -->
	<select id="getHighTaskId" parameterType="int" resultType="int">
		SELECT	task_id
		 FROM	prj_task
		WHERE	prj_board_id = #{prjBoardId}
	</select>
	
	<!-- 업무 담당자 리스트 조회 -->
	<select id="getManager" parameterType="int" resultType="allTaskBoardVO">
	SELECT	m.member_name
	FROM	prj_task t 
		JOIN	task_manager tm	ON t.prj_board_id = tm.prj_board_id
		JOIN	prj_particir pp ON tm.prj_particir_id = pp.prj_particir_id 
		JOIN	member m ON m.member_id = pp.member_id
	WHERE t.prj_board_id = #{prjBoardId}
	ORDER BY resp_id
	</select>
	
	<!-- 하위 업무 리스트 조회 -->
	<select id="getSubTask" parameterType="int" resultType="allTaskBoardVO">
		SELECT	b.prj_board_title,     
				b.prj_board_regdate,         
				t.high_task_id,
				t.start_date,
				t.end_date,
				t.priority,
				find_subcode(t.priority) AS priorityName,
				t.state,
				find_subcode(t.state) AS stateName,
				t.processivity,
				t.prj_board_id,
				t.task_id,
				t.company_id
		FROM	prj_task t
		JOIN	prj_board b
		ON		t.prj_board_id = b.prj_board_id
		WHERE	high_task_id = #{taskId}
		ORDER BY t.task_id
	</select>
	
	<!-- 업무 담당자 등록 -->
	<insert id="insertTaskManager" parameterType="taskVO">
		<selectKey keyProperty="respId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(resp_id), 0) + 1
			FROM task_manager
		</selectKey>
		INSERT INTO task_manager
								(
									prj_board_id,
									prj_particir_id,
									resp_id
								)
						VALUES 
								(
									#{prjBoardId},
									#{prjParticirId},
									#{respId}
								)
	</insert>
	
	<!-- 업무탭 리스트 -->
	<select id="getTaskList" resultType="allTaskBoardVO">
		SELECT p.prj_board_id,        
				p.prj_board_title,     
				p.prj_board_subject,  
				p.prj_board_regdate,            
				p.member_id,            
				p.insp_yn,              
				p.pin_yn,                
				p.board_type,           
				p.project_id,                 
				p.coordinate,
                t.high_task_id,
				t.start_date,
				t.end_date,
				t.priority,
				find_subcode(t.priority) AS priorityName,
				t.state,
				find_subcode(t.state) AS stateName,
				t.processivity,
				t.task_id,
                m.member_name
		FROM 	prj_board p 
				JOIN prj_task t	ON	p.prj_board_id = t.prj_board_id
    			JOIN member m	ON	p.member_id = m.member_id
		WHERE 	p.prj_board_id
				IN	(SELECT	prj_board_id
					FROM	prj_task
					WHERE	high_task_id IS NULL)
		        AND	project_id = #{projectId}
		        AND	board_type = 'C8'
		ORDER BY prj_board_regdate DESC
	</select>
	
	<!-- 게시글 prj_board 수정 -->
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE prj_board
		<set>
			prj_board_title = #{prjBoardTitle},
			prj_board_subject = #{prjBoardSubject},
			prj_board_regdate = sysdate
		</set>
		WHERE prj_board_id = #{prjBoardId}
	</update>
	
	<!-- 업무 수정 -->
	<update id="updateTask" parameterType="TaskVO">
		UPDATE prj_task
		<set>
			<if test="startDate !=null">
				, start_date = #{startDate}
			</if>
			<if test="endDate !=null">
				, end_date = #{endDate}
			</if>
			<if test="priority !=null and !priority.equals('')">
				, priority = #{priority}
			</if>
			, state = #{state}
			<if test="processivity !=null and !processivity.equals('')">
				, processivity = #{processivity}
			</if>
		</set>
		WHERE prj_board_id = #{prjBoardId}
	</update>

	<!-- 담당자 수정 -->
	<update id="updateTaskManager" parameterType="TaskVO">
		UPDATE task_manager
		<set>
			prj_particir_id = #{prjParticirId}
		</set>
		WHERE prj_board_id = #{prjBoardId}
	</update>
	
<!-- 	주현 -->
</mapper>