<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worksb.hi.board.mapper.BoardMapper">
	<!-- 이진 -->
	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="BoardVO">
		<selectKey keyProperty="prjBoardId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(prj_board_id), 0) + 1
			FROM prj_board
		</selectKey>
		INSERT INTO prj_board
						(
							prj_board_id
							, prj_board_title
							<if test="prjBoardSubject !=null and !prjBoardSubject.equals('')">
							, prj_board_subject
							</if>
							, prj_board_regdate
							, member_id
							<if test="inspYn !=null and !inspYn.equals('')">
							, insp_yn
							</if>
							, board_type
							, project_id
							<if test="coordinate !=null">
							, coordinate
							</if>
						)
					VALUES
						(
							#{prjBoardId}
							, #{prjBoardTitle}
							<if test="prjBoardSubject !=null and !prjBoardSubject.equals('')">
							, #{prjBoardSubject}
							</if>
							, sysdate
							, #{memberId}
							<if test="inspYn !=null and !inspYn.equals('')">
							, #{inspYn}
							</if>
							, #{boardType}
							, #{projectId}
							<if test="coordinate !=null">
							, #{coordinate}
							</if>		
						)
	</insert>
	
	<!-- 업무 등록 -->
	<insert id="insertTask" parameterType="TaskVO">
		<selectKey keyProperty="taskId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(task_id), 0) + 1
			FROM prj_task
		</selectKey>
		INSERT INTO prj_task
					(
						high_task_id
						<if test="startDate !=null">
						, start_date
						</if>
						<if test="endDate !=null">
						, end_date
						</if>
						<if test="priority !=null and !priority.equals('')">
						, priority
						</if>
						, state
						<if test="processivity !=null and !processivity.equals('')">
						, processivity
						</if>
						, prj_board_id
						, task_id
						, company_id
					)
					VALUES
					(
						#{highTaskId}
						<if test="startDate !=null">
						, #{startDate}
						</if>
						<if test="endDate !=null">
						, #{endDate}
						</if>
						<if test="priority !=null and !priority.equals('')">
						, #{priority}
						</if>
						, #{state}
						<if test="processivity !=null and !processivity.equals('')">
						, #{processivity}
						</if>
						, #{prjBoardId}
						, #{taskId}
						, #{companyId}
					)
	</insert>
	
	<!-- 투표 등록 -->
	<insert id="insertVote" parameterType="VoteVO">
		INSERT INTO prj_vote
						(
							prj_board_id
							, end_date
							, anony_vote
							, compno_vote
							, result_yn
						)
					VALUES
						(
							#{prjBoardId}
							, #{endDate}
							, #{anonyVote}
							, #{compnoVote}
							, #{resultYn}	
						)
	</insert>
	
	<!-- 투표 항목 등록 -->	
	<insert id="insertVoteList" parameterType="VoteVO">
		<selectKey keyProperty="listId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(list_id), 0) + 1
			FROM vote_list
		</selectKey>
			INSERT INTO vote_list
							(
								prj_board_id
								, list_id
								, list_content
							)
						VALUES
							(
								#{prjBoardId}
								, #{listId}
								, #{listContent}
							)
	</insert>
	
	<!-- 일정 등록 -->
	<insert id="insertSche" parameterType="ScheVO">
		INSERT INTO prj_sche
							(
								start_date
								, end_date
								, prj_board_id
								, alarm_date
							)
						VALUES
							(
								#{startDate}
								, #{endDate}
								, #{prjBoardId}
								, #{alarmDate}
							)
	</insert>
</mapper>