<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worksb.hi.board.mapper.BoardMapper">
	<!-- 이진 -->
	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="BoardVO">
		<selectKey keyProperty="prjBoardId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(prj_board_id), 0) + 1
			FROM prj_board
		</selectKey>
		INSERT INTO prj_board
						(
							prj_board_id
							, prj_board_title
							<if test="prjBoardSubject !=null and !prjBoardSubject.equals('')">
							, prj_board_subject
							</if>
							, prj_board_regdate
							, member_id
							<if test="inspYn !=null and !inspYn.equals('')">
							, insp_yn
							</if>
							, board_type
							, project_id
							<if test="coordinate !=null">
							, coordinate
							</if>
						)
					VALUES
						(
							#{prjBoardId}
							, #{prjBoardTitle}
							<if test="prjBoardSubject !=null and !prjBoardSubject.equals('')">
							, #{prjBoardSubject}
							</if>
							, sysdate
							, #{memberId}
							<if test="inspYn !=null and !inspYn.equals('')">
							, #{inspYn}
							</if>
							, #{boardType}
							, #{projectId}
							<if test="coordinate !=null">
							, #{coordinate}
							</if>		
						)
	</insert>
	
	<!-- 업무 등록 -->
	<insert id="insertTask" parameterType="taskVO">
		<selectKey keyProperty="taskId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(task_id), 0) + 1
			FROM prj_task
		</selectKey>
		INSERT INTO prj_task
					(
						high_task_id
						<if test="startDate !=null">
						, start_date
						</if>
						<if test="endDate !=null">
						, end_date
						</if>
						<if test="priority !=null and !priority.equals('')">
						, priority
						</if>
						, state
						<if test="processivity !=null and !processivity.equals('')">
						, processivity
						</if>
						, prj_board_id
						, task_id
						, company_id
					)
					VALUES
					(
						#{highTaskId}
						<if test="startDate !=null">
						, #{startDate}
						</if>
						<if test="endDate !=null">
						, #{endDate}
						</if>
						<if test="priority !=null and !priority.equals('')">
						, #{priority}
						</if>
						, #{state}
						<if test="processivity !=null and !processivity.equals('')">
						, #{processivity}
						</if>
						, #{prjBoardId}
						, #{taskId}
						, #{companyId}
					)
	</insert>
	
	<!-- 투표 등록 -->
	<insert id="insertVote" parameterType="VoteVO">
		INSERT INTO prj_vote
						(
							prj_board_id
							, end_date
							, anony_vote
							, compno_vote
							, result_yn
						)
					VALUES
						(
							#{prjBoardId}
							, #{endDate}
							, #{anonyVote}
							, #{compnoVote}
							, #{resultYn}	
						)
	</insert>
	
	<!-- 투표 항목 등록 -->	
	<insert id="insertVoteList" parameterType="VoteVO">
		<selectKey keyProperty="listId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(list_id), 0) + 1
			FROM vote_list
		</selectKey>
			INSERT INTO vote_list
							(
								prj_board_id
								, list_id
								, list_content
							)
						VALUES
							(
								#{prjBoardId}
								, #{listId}
								, #{listContent}
							)
	</insert>
	
	<!-- 일정 등록 -->
	<insert id="insertSche" parameterType="ScheVO">
		INSERT INTO prj_sche
							(
								start_date
								, end_date
								, prj_board_id
								<if test="alarmDate !=null">
									, alarm_date
								</if>
								<if test="scheAddr !=null and !scheAddr.equals('')">
									, sche_addr
								</if>
								<if test="scheAddrDetail !=null and !scheAddrDetail.equals('')">
									, sche_addr_detail
								</if>
								<if test="alarmDateCode !=null and !alarmDateCode.equals('')">
									, alarm_date_code
								</if>
							)
						VALUES
							(
								#{startDate}
								, #{endDate}
								, #{prjBoardId}
								<if test="alarmDate !=null">
									, #{alarmDate}
								</if>
								<if test="scheAddr !=null and !scheAddr.equals('')">
									, #{scheAddr}
								</if>	
								<if test="scheAddrDetail !=null and !scheAddrDetail.equals('')">
									, #{scheAddrDetail}
								</if>
								<if test="alarmDateCode !=null and !alarmDateCode.equals('')">
									, #{alarmDateCode}
								</if>	
							)
	</insert>
	
	
	
	<!-- 일정 조회 -->
	<select id="getScheInfo" resultType="ScheVO">
		WITH p AS ( SELECT prj_board_id, 
						SUM(CASE WHEN attendance='A1' THEN  1 ELSE 0 END) attendance_yes, 
	         			SUM(CASE WHEN attendance='A2' THEN  1 ELSE 0 END) attendance_no 
         			FROM sche_particir p 
         			GROUP BY prj_board_id )
		SELECT	s.start_date,
		        s.end_date,
		        s.prj_board_id,
		        s.alarm_date,
		        s.alarm_date_code,
		        find_subcode(s.alarm_date_code) AS alarm_date_code_literal,
		        s.sche_addr,
		        s.sche_addr_detail,
		        p.attendance_yes,
		        p.attendance_no,
		        (SELECT attendance 
		         	FROM sche_particir p where s.prj_board_id = p.prj_board_id 
		         	AND prj_particir_id = (SELECT prj_particir_id FROM prj_particir 
		         	WHERE member_id = #{memberId} AND project_id = #{projectId}) ) AS my_attendance
					FROM prj_sche s LEFT JOIN  p ON (s.prj_board_id = p.prj_board_id)
				WHERE   s.prj_board_id = #{prjBoardId}
	</select>
	
	<!-- 투표 조회 -->
	<select id="getVoteInfo" resultType="VoteVO">
		WITH c AS ( SELECT v.prj_board_id, 
							p.prj_particir_id 
					FROM vote_list v JOIN vote_particir p 
					ON (v.list_id = p.list_id) 
					GROUP BY v.prj_board_id, p.prj_particir_id
				   )
		SELECT	v.prj_board_id,
		        v.end_date,
		        v.anony_vote,
		        v.compno_vote,
		        v.result_yn,
		        COUNT(c.prj_particir_id) AS voteAttendance
		FROM	prj_vote v LEFT JOIN c 
		ON (v.prj_board_id = c.prj_board_id)
		WHERE	v.prj_board_id = #{prjBoardId}
		GROUP BY v.prj_board_id, 
				 v.end_date, 
				 v.anony_vote, 
				 v.compno_vote, 
				 v.result_yn
	</select>
	
	<!-- 투표 항목 조회 -->
	<select id="getVoteList" resultType="VoteVO">
		SELECT	list_id,
				list_content
		FROM	vote_list
		WHERE	prj_board_id = #{prjBoardId}
		ORDER BY	list_id
	</select>
	
	<!-- 게시글 별 선택한 투표 리스트 -->
	<select id="getVoteListByMember" resultType="VoteVO">
		SELECT v.list_id 
		FROM vote_list v JOIN vote_particir p 
		ON (v.list_id = p.list_id) 
		WHERE v.prj_board_id= #{prjBoardId} AND p.prj_particir_id = #{prjParticirId}
	</select>
	
	
	<!-- 업무 조회 -->
	<select id="getTaskInfo" parameterType="int" resultType="allTaskBoardVO">
		SELECT	p.prj_board_id,        
				p.prj_board_title,     
				p.prj_board_subject,  
				p.prj_board_regdate,            
				p.member_id,            
				p.insp_yn,              
				p.pin_yn,                
				p.board_type,           
				p.project_id,                 
				p.coordinate,
                t.high_task_id,
				t.start_date,
				t.end_date,
				t.priority,
				find_subcode(t.priority) AS priorityName,
				t.state,
				find_subcode(t.state) AS stateName,
				t.processivity,
				t.task_id,
                m.member_name,
                m.real_profile_path      
		 FROM 	prj_board p 
				JOIN prj_task t	ON	p.prj_board_id = t.prj_board_id
    			JOIN member m	ON	p.member_id = m.member_id
		WHERE	t.prj_board_id = #{prjBoardId}
	</select>
	
	<!-- 상위 업무의 taskId 조회 -->
	<select id="getHighTaskId" parameterType="int" resultType="int">
		SELECT	task_id
		 FROM	prj_task
		WHERE	prj_board_id = #{prjBoardId}
	</select>
	
	<!-- 업무 담당자 리스트 조회 -->
	<select id="getManager" parameterType="int" resultType="allTaskBoardVO">
	SELECT	m.member_name,
			pp.prj_particir_id
	FROM	prj_task t 
		JOIN	task_manager tm	ON t.prj_board_id = tm.prj_board_id
		JOIN	prj_particir pp ON tm.prj_particir_id = pp.prj_particir_id 
		JOIN	member m ON m.member_id = pp.member_id
	WHERE t.prj_board_id = #{prjBoardId}
	ORDER BY resp_id
	</select>
	
	<!-- 하위 업무 리스트 조회 -->
	<select id="getSubTask" parameterType="int" resultType="allTaskBoardVO">
		SELECT	b.prj_board_title,     
				b.prj_board_regdate,         
				t.high_task_id,
				t.start_date,
				t.end_date,
				t.priority,
				find_subcode(t.priority) AS priorityName,
				t.state,
				find_subcode(t.state) AS stateName,
				t.processivity,
				t.prj_board_id,
				t.task_id,
				t.company_id
		FROM	prj_task t
		JOIN	prj_board b
		ON		t.prj_board_id = b.prj_board_id
		WHERE	high_task_id = #{taskId}
		ORDER BY t.task_id
	</select>
	
	<!-- 업무 담당자 등록 -->
	<insert id="insertTaskManager" parameterType="taskVO">
		<selectKey keyProperty="respId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(resp_id), 0) + 1
			FROM task_manager
		</selectKey>
		INSERT INTO task_manager
								(
									prj_board_id,
									prj_particir_id,
									resp_id
								)
						VALUES 
								(
									#{prjBoardId},
									#{prjParticirId},
									#{respId}
								)
	</insert>
	
	<!-- 업무탭 리스트 -->
	<select id="getTaskList" resultType="allTaskBoardVO">
		SELECT p.prj_board_id,        
				p.prj_board_title,     
				p.prj_board_subject,  
				p.prj_board_regdate,            
				p.member_id,            
				p.insp_yn,              
				p.pin_yn,                
				p.board_type,           
				p.project_id,                 
				p.coordinate,
                t.high_task_id,
				t.start_date,
				t.end_date,
				t.priority,
				find_subcode(t.priority) AS priorityName,
				t.state,
				find_subcode(t.state) AS stateName,
				t.processivity,
				t.task_id,
                m.member_name
		FROM 	prj_board p 
				JOIN prj_task t	ON	p.prj_board_id = t.prj_board_id
    			JOIN member m	ON	p.member_id = m.member_id
		WHERE 	p.prj_board_id
				IN	(SELECT	prj_board_id
					FROM	prj_task
					WHERE	high_task_id IS NULL)
		        AND	project_id = #{projectId}
		        AND	board_type = 'C8'
		ORDER BY prj_board_regdate DESC
	</select>
	
	<!-- 게시글 prj_board 수정 -->
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE prj_board
		<set>
			prj_board_title = #{prjBoardTitle},
			prj_board_subject = #{prjBoardSubject},
			<if test="inspYn !=null and !inspYn.equals('')">
			insp_yn = #{inspYn}
			</if>
		</set>
		WHERE prj_board_id = #{prjBoardId}
	</update>
	
	<!-- 업무 수정 -->
	<update id="updateTask" parameterType="TaskVO">
		UPDATE prj_task
		<set>
				state = #{state}
			<if test="startDate !=null">
				,start_date = #{startDate}
			</if>
			<if test="endDate !=null">
				, end_date = #{endDate}
			</if>
			<if test="priority !=null and !priority.equals('')">
				, priority = #{priority}
			</if>
			<if test="processivity !=null and !processivity.equals('')">
				, processivity = #{processivity}
			</if>
		</set>
		WHERE prj_board_id = #{prjBoardId}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="BoardVO">
		DELETE	prj_board
		WHERE	prj_board_id = #{prjBoardId}
	</delete>
  
	<!-- 업무게시글의의 담당자 전체 리스트 삭제 -->
	<delete id="deleteManagerList" parameterType="TaskVO">
		DELETE task_manager 
		WHERE prj_board_id = #{prjBoardId}
	</delete>
	 
	
	
	
	
	
	
	
	
	
	
	<!-- 업무 삭제 (상위,하위,담당자) -->
	<insert id="deleteTask" statementType="CALLABLE" parameterType="TaskVO" >
		{ CALL 
			delete_sub_task(
				#{prjBoardId}
				) 
		}
	</insert>
	
	<!-- 투표한 인원수 -->
	<select id="countVoteParticir" resultType="int" parameterType="VoteVO">
		SELECT	COUNT(*)
		FROM	vote_particir
		WHERE	list_id
				IN (
						SELECT	list_id
						FROM	vote_list
						WHERE	prj_board_id = #{prj_board_id}
					)
	</select>
	
	<!-- 투표 수정 (보드,투표글은 수정 / 투표항목은 삭제)-->
	<insert id="updateVote" statementType="CALLABLE" parameterType="VoteVO">
		{ CALL
			update_vote(
						#{prjBoardId},
						#{prjBoardTitle},
						#{prjBoardSubject},
						#{inspYn},
						#{endDate},
						#{anonyVote},
						#{compnoVote},
						#{resultYn}
						)
		}
			
	</insert>
	
	<!-- 투표 삭제 (투표,항목,참여) -->
	<insert id="deleteVote" statementType="CALLABLE" parameterType="VoteVO" >
		{ CALL 
			delete_vote(
				#{prjBoardId}
				) 
		}
	</insert>
	
	<!-- 
		<insert id="sheParticipate" statementType="CALLABLE" parameterType="ScheParticirVO" >
		{ CALL
			sche_attend(
				#{prjBoardId},
				#{prjParticirId},
				#{attendance}
			)
	</insert>
	 -->
	
	
<!-- 	주현 -->
	<!-- 상단 고정 업데이트 -->
	<update id="updatePin" parameterType="BoardVO">
		UPDATE prj_board
		<set>
			pin_yn = #{pinYn}
		</set>
		WHERE prj_board_id = #{prjBoardId}
	</update>
	
	<!-- 회원의 프로젝트 별 북마크 리스트 -->
	<select id="getBookmarkList" resultType="BoardVO">
	SELECT 
			m.bookmark_id,
			m.board_type,
			b.prj_board_id, 
			b.prj_board_title, 
			find_board_icon(b.board_type) AS board_icon_name
	FROM    prj_board b JOIN bookmark m 
		ON (b.prj_board_id = m.board_id) 
	WHERE   m.member_id = #{memberId} 
		AND m.project_id = #{projectId}	
	</select>
	
	<!-- 게시글 북마크 등록 -->
	<insert id="insertBookmark" parameterType="BoardVO">
		<selectKey keyProperty="bookmarkId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(bookmark_id), 0) + 1
			FROM bookmark
		</selectKey>
		INSERT INTO bookmark (
							   bookmark_id,
							   member_id,
							   project_id,
							   board_id,
							   board_type
							  )
					VALUES   (
							   #{bookmarkId},
							   #{memberId},
							   #{projectId},
							   #{prjBoardId},
							   #{boardType}
							  )
	</insert>
	
	<!-- 게시글 북마크 삭제 -->
	<delete id="deleteBookmark" parameterType="BoardVO">
		DELETE bookmark
		WHERE member_id = #{memberId} AND board_id = #{prjBoardId} AND board_type = #{boardType}
	</delete>
	
	<!-- 일정 참가,미참 -->
	<insert id="sheParticipate" statementType="CALLABLE" parameterType="ScheParticirVO" >
		{ CALL
			sche_attend(
				#{prjBoardId},
				#{prjParticirId},
				#{attendance}
			)
	</insert>
	
	<!-- 투표 하기 (삭제 -> 등록) -->
	<delete id="voteDelete" parameterType="VoteVO">
		DELETE  vote_particir 
    	WHERE list_id IN (
        	(SELECT l.list_id 
         	FROM vote_particir p JOIN vote_list l 
         	ON (p.list_id = l.list_id) 
         	WHERE prj_particir_id = #{prjParticirId} And prj_board_id =#{prjBoardId})
         	)
	</delete>
	<insert id="voteInsert" parameterType="VoteVO">
		<selectKey keyProperty="voteParticirId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(vote_particir_id), 0) + 1
			FROM vote_particir
		</selectKey>
		INSERT INTO vote_particir(
								vote_particir_id,
								list_id,
								prj_particir_id
								)
				         VALUES(
				         		#{voteParticirId},
				         		#{listId},
				         		#{prjParticirId}
				         		)
	</insert>
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	

	<!-- 정현 -->
	<!-- 프로젝트 일정 수정 -->
	<update id="updateSche" parameterType="ScheVO">
		UPDATE prj_sche
		<set>
			<if test="startDate !=null">
				start_date = #{startDate}
			</if>
			<if test="endDate !=null">
				, end_date = #{endDate}
			</if>
			<if test="scheAddr !=null and !scheAddr.equals('')">
				, sche_addr = #{scheAddr}
			</if>
			<if test="scheAddrDetail !=null and !scheAddrDetail.equals('')">
				, sche_addr_detail = #{scheAddrDetail}
			</if>
			<if test="alarmDateCode !=null and !alarmDateCode.equals('')">
				, alarm_date_code = #{alarmDateCode}
			</if>		
		</set>
		WHERE prj_board_id = #{prjBoardId}
	</update>
	<!-- 프로젝트 일정 삭제 -->
	<delete id="deleteSche">
		DELETE prj_sche
		WHERE prj_board_id = #{prjBoardId}
	</delete>
	<!-- 프로젝트 일정 캘린더 조회 -->
	<select id="getScheCalendar" resultType="ScheVO">
		SELECT b.prj_board_id
			   , b.prj_board_title
			   , s.start_date
			   , s.end_date
		FROM prj_board b, prj_sche s
		WHERE b.prj_board_id = s.prj_board_id
	          AND project_id = #{projectId}
	</select>
	<!-- 프로젝트 업무 캘린더 조회 -->
	<select id="getTaskCalendar" resultType="TaskVO">
		SELECT b.prj_board_id, b.prj_board_title, t.high_task_id, t.start_date, t.end_date
		FROM prj_board b, prj_task t
		WHERE b.prj_board_id = t.prj_board_id
		        AND project_id = #{projectId}
		        AND t.high_task_id IS NULL
		        AND t.start_date IS NOT NULL
		        AND t.end_date IS NOT NULL
	</select>
	<!-- 프로젝트 일정 상세 조회 -->
	<select id="getScheBoardInfo" resultType="BoardVO">
		SELECT prj_board_id        
			   , prj_board_title   
			   , prj_board_subject     
			   , prj_board_regdate       
			   , member_id 
			   , insp_yn  
			   , pin_yn  
			   , board_type 
			   , project_id  
			   , coordinate 
		FROM prj_board
		WHERE prj_board_id = #{prjBoardId}
	</select>
</mapper>