<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worksb.hi.comLike.mapper">
<!-- 좋아요 여부 확인 0 or 1 -->
	<select id="findLike" resultType="int">
		select count(*)
		  from com_like
		 where like_id = #{likeId } and board_type = #{boardType } and member_id = #{memberId }
	</select>
</mapper>