<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worksb.hi.project.mapper.ProjectMapper">
	<!-- 이진 -->
	<!-- 프로젝트 등록 -->
	<insert id="insertProject" parameterType="ProjectVO">
		<selectKey keyProperty="projectId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(project_id), 0) + 1
			FROM project
		</selectKey>
		INSERT INTO project
						(
							project_id,
							project_name,
							project_access,
							manager_accp,
							write_access,
							update_access,
							board_access,
							comment_access,
							file_access,
							dept_id,
							project_cls
						)
						
				VALUES 	(
						#{projectId},
						#{projectName},
						#{projectAccess},
						#{managerAccp},
						#{writeAccess},
						#{updateAccess},
						#{boardAccess},
						#{commentAccess},
						#{fileAccess},
						#{deptId},
						'A2'
						)
	</insert>
	
	<select id="getProjectInfo" resultType="projectVO">
		WITH j AS (SELECT * FROM prj_particir WHERE manager = 'A1')
		SELECT  p.project_id,
				p.project_name,
				p.project_access,
				p.manager_accp,
				p.write_access,
				p.update_access,
				p.board_access,
				p.comment_access,
				p.file_access,
				p.dept_id,
                j.prj_particir_id AS manager_particir_id,
                j.member_id,
                (SELECT member_name FROM member WHERE member_id = j.member_id) AS manager_name
		FROM project p LEFT JOIN j ON (p.project_id = j.project_id)
		WHERE p.project_id = #{projectId}
	</select>

	<!-- 프로젝트 수정 -->
	<update id="updateProject" parameterType="projectVO">
		UPDATE project
		SET project_name = #{projectName},
			project_access = #{projectAccess},
			manager_accp = #{managerAccp},
			write_access = #{writeAccess},
			update_access = #{updateAccess},
			board_access = #{boardAccess},
			comment_access = #{commentAccess},
			file_access = #{fileAccess},
			dept_id = #{deptId}
		WHERE project_id = #{projectId}
	</update>
	
	<!-- 프로젝트 삭제  프로시저로 수정@@!!!-->
	<delete id="deleteProject" parameterType="int">
		DELETE FROM project
		WHERE project_id = #{projectId}
	</delete>
	
	<!-- 프로젝트 게시글 리스트 -->
	<select id="getBoardList" resultType="BoardVO">
		SELECT 	p.prj_board_id,        
				p.prj_board_title,     
				p.prj_board_subject,  
				p.prj_board_regdate,            
				p.member_id,            
				p.insp_yn,              
				p.pin_yn,                
				p.board_type,           
				p.project_id,                 
				p.coordinate,
				m.member_name,
				m.real_profile_path
		FROM 	prj_board p
		JOIN    member m ON p.member_id = m.member_id
		WHERE 	prj_board_id
		NOT IN 	(SELECT	prj_board_id
				FROM	prj_task
				WHERE	high_task_id IS NOT NULL)
		AND		project_id = #{projectId}
		ORDER BY prj_board_regdate DESC
	</select>
	
	<!-- 프로젝트 고정 게시글 리스트 -->
	<select id="getPinBoardList" resultType="BoardVO">
		SELECT 	prj_board_id,        
				prj_board_title,     
				pin_yn,                
				board_type,           
				project_id,
                find_board_icon(board_type) AS board_icon_name
		FROM    prj_board
		WHERE   project_id = #{projectId}
			AND pin_yn = 'A1' 	
		ORDER BY prj_board_regdate DESC
	</select>
	
	
	
	
	<!-- 부서 정보 조회 (회사 번호)-->
	<select id="getDeptInfo" parameterType="int" resultType="DeptVO">
		SELECT	dept_id,
				dept_name
		FROM	department
		WHERE	company_id = #{companyId}
		ORDER BY	dept_id
	</select>
	
	<!-- 부서 정보 조회 (부서 번호)-->
	<select id="getDeptInfoByDeptId" parameterType="int" resultType="DeptVO">
		SELECT	dept_id,
				dept_name
		FROM	department
		WHERE	dept_id = #{deptId}
	</select>
	
	<!-- 프로젝트 참여자 등록 -->
	<insert id="insertParticipant" parameterType="PrjParticirVO">
		<selectKey keyProperty="prjParticirId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(prj_particir_id), 0) + 1
			FROM prj_particir
		</selectKey>
			INSERT INTO prj_particir
									(	prj_particir_id,
										member_id,
										manager,
										project_id,
										alarm_yn,
										particir_accp,
										project_markup
										)
							VALUES
									(	#{prjParticirId}, 
										#{memberId},
										#{manager},
										#{projectId},
										'A1',
										#{particirAccp},
										#{projectMarkup}
										)
	</insert>
	
	<!-- 프로젝트 참여자 조회 -->
	<select id="getParticirList" resultType="PrjParticirVO">
		SELECT	p.prj_particir_id,
				p.member_id,
				p.manager,
				p.project_id,
				p.alarm_yn,
				p.project_markup,
				p.particir_accp,
				m.member_name,
				m.real_profile_path
		FROM	prj_particir p
		JOIN	member m
		ON		p.member_id=m.member_id
		WHERE	project_id = #{projectId} 
		AND p.particir_accp = 'A1'
	</select>
	
	<!-- 프로젝트 즐겨찾기 여부 -->
	<select id="getParticirByProject" resultType="PrjParticirVO">
		SELECT prj_particir_id,       
				member_id,       
				manager,                 
				project_id,           
				alarm_yn,        
				project_markup,           
				particir_accp       
		FROM prj_particir
		WHERE member_id = #{memberId} AND project_id = #{projectId}
	</select>
	
	<!-- 프로젝트 승인 대기 조회 -->
	<select id="getCheckParticir" resultType="PrjParticirVO">
		SELECT	p.member_id,
				m.member_name,
				m.real_profile_path
		FROM	prj_particir p
		JOIN	member m
		ON		p.member_id = m.member_id
		WHERE	project_id = #{projectId}
			AND p.particir_accp = 'A2'
	</select>
	
	<!-- 프로젝트 참여 승인하기 -->
	<update id="updateAccpParticir" parameterType="PrjParticirVO">
		UPDATE	prj_particir
		SET		particir_accp = 'A1'
		WHERE	member_id = #{memberId}
			AND	project_id = #{projectId}
	</update>
	
	
	
	
	
	
	
	
	
	
<!-- 주현 -->

<!-- 북마크가 된 개별 프로젝트 조회 승인된 것만 출력 -->
<select id="searchPrj" parameterType="String" resultType="ProjectVO">
  SELECT
	    p.project_id,
	    p.project_name,
	    find_subcode(p.project_access) AS project_access,
	    find_subcode(p.manager_accp) AS manager_accp,
	    find_subcode(p.write_access) AS write_access,
	    find_subcode(p.update_access) AS update_access,
	    find_subcode(p.board_access) AS board_access,
	    find_subcode(p.file_access) AS file_access,
	    find_subcode(p.comment_access) AS comment_access, 
	    pp1.prj_particir_num,
	    find_subcode(pp2.project_markup) AS project_markup, 
	    find_subcode(pp2.particir_accp) AS particir_accp,
	    p.dept_id,
	    find_subcode(p.project_cls) AS project_cls
	FROM
	    project p
	JOIN (
	    SELECT
	        project_id,
	        COUNT(*)  AS prj_particir_num
	    FROM
	        prj_particir
        WHERE 
        	particir_accp='A1'
	    GROUP BY
	        project_id
	) pp1 ON (p.project_id = pp1.project_id)
    JOIN(
        SELECT
            project_markup,
            project_id,
            member_id,
            particir_accp
        FROM
            prj_particir
    )pp2 ON(pp1.project_id=pp2.project_id)
	WHERE
	    pp2.member_id=#{memberId}
 	AND
        pp2.project_markup='A1'
    AND
        pp2.particir_accp='A1'
    AND 
    	p.project_cls='A2'
	ORDER BY p.project_id  
</select>

<!-- 북마크가 안 된 개별 프로젝트 조회--> 
<select id="searchPrjCls" parameterType="String" resultType="ProjectVO">
	   SELECT
	    p.project_id,
	    p.project_name,
	    find_subcode(p.project_access) AS project_access,
	    find_subcode(p.manager_accp) AS manager_accp,
	    find_subcode(p.write_access) AS write_access,
	    find_subcode(p.update_access) AS update_access,
	    find_subcode(p.board_access) AS board_access,
	    find_subcode(p.file_access) AS file_access,
	    find_subcode(p.comment_access) AS comment_access, 
	    pp1.prj_particir_num,
	    find_subcode(pp2.project_markup) AS project_markup, 
	    find_subcode(pp2.particir_accp) AS particir_accp,
	    p.dept_id,
	    find_subcode(p.project_cls) AS project_cls
	FROM
	    project p
	JOIN (
	    SELECT
	        project_id,
	        COUNT(*)  AS prj_particir_num
	    FROM
	        prj_particir
        WHERE 
        	particir_accp='A1'
	    GROUP BY
	        project_id
	) pp1 ON (p.project_id = pp1.project_id)
    JOIN(
        SELECT
            project_markup,
            project_id,
            member_id,
            particir_accp
        FROM
            prj_particir
    )pp2 ON(pp1.project_id=pp2.project_id)
	WHERE
	    pp2.member_id=#{id}
        AND
        pp2.project_markup='A2'
        AND
        pp2.particir_accp='A1'
        AND 
    	p.project_cls='A2'
	ORDER BY p.project_id
</select>


<!-- 회사별 프로젝트 조회 -->
<select id="selectFromCompany" parameterType="int" resultType="com.worksb.hi.project.service.ProjectVO">
   SELECT
       p.project_id,
       p.project_name,
       find_subcode(p.project_access) AS project_access,
       find_subcode(p.manager_accp) AS manager_accp,
       find_subcode(p.write_access) AS write_access,
       find_subcode(p.update_access) AS update_access,
       find_subcode(p.board_access) AS board_access,
       find_subcode(p.file_access) AS file_access,
       find_subcode(p.comment_access) AS comment_access, 
       p.dept_id,
       find_subcode(p.project_cls) AS project_cls,
       (SELECT COUNT(*) from prj_particir pp WHERE p.project_id=pp.project_id AND particir_accp='A1') AS prj_particir_num
   FROM
       project p
   WHERE
      dept_id IN (SELECT dept_id FROM department WHERE company_id= #{companyId})       
      AND p.project_cls= nvl(#{projectCls},'A2')
        <if test="deptId!=null">
           AND dept_id=#{deptId}
        </if>
   ORDER BY p.project_id
</select>

<!-- 즐겨찾기 갱신 -->
<update id="updateStar" parameterType="ProjectVO">
	UPDATE prj_particir 
		<set>
			project_markup=#{projectMarkup}
		</set> 
	   WHERE project_id=#{projectId} 
	   AND member_id=#{memberId}
</update>

<!-- 로그인된 아이디가 참여하고 있는 프로젝트 -->
<select id="selectAllparticier" parameterType="String" resultType="PrjParticirVO">
	SELECT
		prj_particir_id 
		,member_id
		,find_subcode(manager) AS manager  
		,project_id         
		,find_subcode(alarm_yn) AS alarm_yn
		,find_subcode(project_markup) AS project_markup
		,find_subcode(particir_accp) AS particir_accp
	FROM prj_particir
	WHERE member_id=#{memberId}
</select>
<!-- 전체접근가능 프로젝트의 파일 -->
<select id="viewFileWhenPublic" resultType="FileDataVO">
	SELECT *
	FROM (
	    SELECT rownum rn, a.*
	    FROM (
	        SELECT
	            f.board_type,
	            f.file_name,
	            f.file_path,
	            f.file_type,
	            f.file_regdate,
	            f.file_size,
	            f.board_id,
	            f.real_file_path,
	            f.file_id,
	            f.project_id,
	            f.member_id,
	            m.member_name
	        FROM file_data f
	        JOIN (
	            SELECT member_name, member_id
	            FROM member
	        ) m ON m.member_id = f.member_id
	        WHERE f.project_id = #{vo.projectId}
	        <if test="searchVO.searchkeyword != null and searchVO.searchkeyword !=''">
	            <choose>
	                <when test="searchVO.searchtype == 1 ">
	                    AND f.file_name LIKE '%' || #{searchVO.searchkeyword} || '%'
	                </when>
	                <when test="searchVO.searchtype == 2 ">
	                    AND m.member_name LIKE '%' || #{searchVO.searchkeyword} || '%'
	                </when>
	            </choose>
	        </if>
	        ORDER BY file_id DESC
	    ) a
	) 
	WHERE rn BETWEEN #{pagingVO.start} AND #{pagingVO.end}

</select>

<!-- 매니저여부 파악 -->
<select id="managerOrNot" parameterType="ProjectVO" resultType="String">
	SELECT manager 
	FROM prj_particir 
	WHERE member_id=#{memberId} 
			AND project_id=#{projectId}
			AND manager='A1'
</select>


<!-- 제한공개+(로그인한 아이디)작성자의 파일탭 -->
<select id="viewFileWhenRestricted"  resultType="FileDataVO">
	SELECT *
	FROM (
	    SELECT rownum rn, a.*
	    FROM (
	        SELECT
	            f.board_type,
	            f.file_name,
	            f.file_path,
	            f.file_type,
	            f.file_regdate,
	            f.file_size,
	            f.board_id,
	            f.real_file_path,
	            f.file_id,
	            f.project_id,
	            f.member_id,
	            m.member_name
	        FROM file_data f
	        
	        LEFT JOIN (
	            SELECT
	                member_id,
	                member_name
	            FROM member
	        ) m ON m.member_id = f.member_id
	        WHERE f.project_id = #{vo.projectId}
	        AND f.member_id = #{vo.memberId}
	       
	        <if test="searchVO.searchkeyword != null and searchVO.searchkeyword !=''">
	            <choose>
	                <when test="searchVO.searchtype == 1 ">
	                    AND f.file_name LIKE '%' || #{searchVO.searchkeyword} || '%'
	                </when>
	                <when test="searchVO.searchtype == 2 ">
	                    AND m.member_name LIKE '%' || #{searchVO.searchkeyword} || '%'
	                </when>
	            </choose>
	        </if>
	        ORDER BY file_id DESC
	    ) a
	) 
	WHERE rn BETWEEN #{pagingVO.start} AND #{pagingVO.end}

</select>

<!-- 검색카테고리에 따른 갯수세기(전체 글 보기) -->
<select id="countWhenPublic" resultType="int">
	SELECT 
	    COUNT(f.member_id) AS member_count,
	    MAX(f.member_id) AS max_member_id,
	    MAX(m.member_name) AS max_member_name
		FROM file_data f
	JOIN (
	    SELECT
	        member_id,
	        member_name
	    FROM
	        member
	) m ON f.member_id = m.member_id
	WHERE 
	    project_id = #{vo.projectId}
	<if test="searchVO.searchkeyword != null and searchVO.searchkeyword !=''">
			<choose>
				<when test="searchVO.searchtype == 1 ">
					AND file_name like '%' || #{searchVO.searchkeyword } || '%'
				</when>
				<when test="searchVO.searchtype == 2 ">
					AND member_name like '%' || #{searchVO.searchkeyword } || '%'
				</when>
			</choose>
	</if> 
</select>
<!-- 검색카테고리에 따른 갯수세기(본인의 글만 보여주기) -->
<select id="countWhenWriter" resultType="int">
	SELECT 
	    COUNT(f.member_id) AS member_count,
	    MAX(f.member_id) AS max_member_id,
	    MAX(m.member_name) AS max_member_name
		FROM file_data f
	JOIN (
	    SELECT
	        member_id,
	        member_name
	    FROM
	        member
	) m ON f.member_id = m.member_id
	WHERE 
	    project_id = #{vo.projectId}
	    AND
	    m.member_id = #{vo.memberId}
	<if test="searchVO.searchkeyword != null and searchVO.searchkeyword !=''">
			<choose>
				<when test="searchVO.searchtype == 1 ">
					AND file_name like '%' || #{searchVO.searchkeyword } || '%'
				</when>
				<when test="searchVO.searchtype == 2 ">
					AND member_name like '%' || #{searchVO.searchkeyword } || '%'
				</when>
			</choose>
	</if> 
</select>

<!-- fileUpload -->
<insert id="insertFile" parameterType="FileDataVO">
	<selectKey keyProperty="fileId" resultType="int" order="BEFORE">
		SELECT NVL(MAX(file_id), 0) + 1
		FROM file_data
	</selectKey>
	INSERT INTO file_data(           
		file_name      
		,file_path     
		,file_type     
		,file_regdate     
		,file_size       
		,real_file_path 
		,file_id        
		,project_id         
		,member_id 
		,board_type
		,board_id    
	)values(
		#{fileName}
		,#{filePath}
		,#{fileType}
		,#{fileRegdate}
		,TO_CHAR(#{fileSize})
		,#{realFilePath}
		,#{fileId}
		,#{projectId}
		,#{memberId}
		,#{boardType}
		,#{boardId}
	)
</insert>

<!-- fileDownload -->
<select id="getFileById" resultType="FileDataVO">
	SELECT
		file_name,      
		file_path,     
		file_type,     
		file_regdate,   
		file_size,       
		real_file_path, 
		file_id,        
		project_id,         
		member_id, 
		board_type,
		board_id    
	FROM file_data
	WHERE file_id=#{fileId}
</select>
<!-- 즐찾여부 -->
<select id="getMarkupInfo" resultType="PrjParticirVO">
	SELECT
		project_markup
	FROM
		prj_particir
	WHERE
		member_id=#{memberId}
		AND
		project_id=#{projectId}
</select>
<insert id="updateFile" parameterType="FileDataVO">
	INSERT INTO download_file(
			file_id,             
			file_name, 
			file_type,   
			file_regdate,       
			converted_size,   
			member_id    
	)values(
		#{fileId},
		#{fileName},
		#{fileType},
		SYSDATE,
		#{convertedSize},
		#{memberId}
	)
	
</insert>

</mapper>