<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worksb.hi.project.mapper.ProjectMapper">
	<!-- 이진 -->
	<!-- 프로젝트 등록 -->
	<insert id="insertProject" parameterType="ProjectVO">
		<selectKey keyProperty="projectId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(project_id), 0) + 1
			FROM project
		</selectKey>
		INSERT INTO project
						(
							project_id,
							project_name,
							project_access,
							manager_accp,
							write_access,
							update_access,
							board_access,
							comment_access,
							file_access,
							dept_id	
						)
						
				VALUES 	(
						#{projectId},
						#{projectName},
						#{projectAccess},
						#{managerAccp},
						#{writeAccess},
						#{updateAccess},
						#{boardAccess},
						#{commentAccess},
						#{fileAccess},
						#{deptId}
						)
	</insert>
	
	<select id="getProjectInfo" resultType="projectVO">
		SELECT project_id,
				project_name,
				project_access,
				manager_accp,
				write_access,
				update_access,
				board_access,
				comment_access,
				file_access,
				dept_id
		FROM project
		WHERE project_id = #{projectId}
	</select>

	<!-- 프로젝트 수정 -->
	<update id="updateProject" parameterType="projectVO">
		UPDATE project
		SET project_name = #{projectName},
			project_access = #{projectAccess},
			manager_accp = #{managerAccp},
			write_access = #{writeAccess},
			update_access = #{updateAccess},
			board_access = #{boardAccess},
			comment_access = #{commentAccess},
			file_access = #{fileAccess},
			dept_id = #{deptId}
		WHERE project_id = #{projectId}
	</update>
	
	<!-- 프로젝트 삭제  프로시저로 수정@@!!!-->
	<delete id="deleteProject" parameterType="int">
		DELETE FROM project
		WHERE project_id = #{projectId}
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
<!-- 	주현 -->
<select id="searchPrj" parameterType="String" resultType="ProjectVO">
    SELECT p.project_id,
    p.project_name,
    (SELECT find_subcode(project_access) FROM project) project_access,
    (SELECT find_subcode(manager_accp) FROM project) manager_accp,
    (SELECT find_subcode(write_access) FROM project) write_access,
    (SELECT find_subcode(update_access) FROM project) update_access,
    (SELECT find_subcode(board_access) FROM project) board_access,
    (SELECT find_subcode(file_access) FROM project) file_access,
    (SELECT find_subcode(comment_access) FROM project) comment_access, 
    (SELECT count(*)from prj_particir pp where p.project_id=pp.project_id) particir_num,
    dept_id,
    project_cls
    FROM project p INNER JOIN (SELECT DISTINCT project_id from prj_particir) pp ON p.project_id=pp.project_id 
    WHERE dept_id=(SELECT dept_id FROM department WHERE company_id=#{companyId})

</select>
</mapper>